# Entorno virtual
env/
__pycache__/
app/__pycache__
app/routers/__pycache__
*.pyc
*.pyo

# Archivos de entorno
.env

# Archivos de logs y caché
*.log
*.sqlite
*.db

# Alembic
alembic/versions/*.pyc

# Docker
*.pid
*.sock

#BD
data

node_modules
package-lock.json
app/static/css/output.css